<app-navbar></app-navbar>
<div class="container">
<div class="card" >
        <div class="card-body">
          <p class="card-title">Your dream job's just a search away...</p>
          
                <div class="input-group ">
                        <input type="text" class="form-control" placeholder="Search jobs" aria-label="Username"
                        aria-describedby="addon-wrapping">
                        <input type="text" class="form-control" placeholder="Search location" aria-label="Username"
                        aria-describedby="addon-wrapping">
                        <button type="button" class="btn btn-primary">Search</button>
                      </div>
                      </div>
              <div class="card-jobs">
                  <div class="card-jobs-head">
                        <p class="card-text--gray">Job searches</p> 
                        <p class="card-text--blue">Manage Alerts
                                <mat-icon class="icon">arrow_back_ios</mat-icon>
                                <mat-icon class="forward">arrow_forward_ios</mat-icon>
                        </p>
                  </div>
                  <div class="card-search">
                      <div class="card-job">
                        <p class="card-text">frontend web developer
                                <span class="card-small-font--gray" >(1,312 new)</span>
                        </p>
                        <p class=" card-small-font--gray">Alerton - Worldwide-Internship - Entry level</p>
                      </div>
                            <div class="card-job">
                              <p class="card-text">nodejs developer
                                      <span  class="card-small-font--gray">(1,312 new)</span>
                              </p>
                              <p class=" card-small-font--gray">Egypt - Internship - Entry level</p>
                            </div>
                  </div>
              </div>
         
        </div>
         <div class="card-relevantjobs">
          <p class="card-title">want to discover relevant jobs?</p>
          <p class="card-small-font--gray--center" >Search over 20 million jobs on linkedIn</p>

         </div>
      </div>

