<div class="card">
  <div class="card__cover">
    <img
      src="../../assets/profile/background.svg"
      class="card-img-top card__img-background"
      alt="..."
    />
    <div class="card__img-parent">
      <div class="card_img card_img--radius">
        <img
          id="profile-img"
          src="../../../../assets/avatar4.png"
          class="card__img-profile"
        />
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="card-center">
      <h5 class="card-title">{{user.userName}}</h5>
      <p class="card-small-font--gray">
        {{user.workExp[0].title}}
      </p>
      <p class="card-small-font--gray">
        <i class="fas fa-link"></i> {{user.friendsId.length}}conections
      </p>
    </div>
  </div>

  <button #pindingBtn mat-stroked-button class="btn btn--center btn-text--info btn-border--info" *ngIf="pinding.includes(user.id)" (click)="onClick(pindingBtn, user.id)">Pinding</button>
  <button #connectionBtn mat-stroked-button class="btn btn--center btn-text--primary btn-border--primar" *ngIf="!pinding.includes(user.id)" (click)="onClick(connectionBtn, user.id)">Connect</button>
</div>