<div class="card">
  <div class="card__cover">
    <img
      src="../../assets/profile/background.svg"
      class="card-img-top card__img-background"
      alt="..."
    />
    <div class="card__img-parent">
      <div class="card__img card__img--radius">
        <img
          id="profile-img"
          src="../../assets/logo.PNG"
          class="card__img-profile"
        />
      </div>
    </div>
  </div>
  <div class="card-body ">
    <div class="card-center">
      <h5 class="card-title">Mariam Atef</h5>
      <p class="card-small-font--gray">
        Full-stack Developer
      </p>
      <p class="card-small-font--gray">
        <i class="fas fa-link"></i> 32 conections
      </p>
    </div>
  </div>

  <button class="btn btn--center">Connect</button>
</div>
