<app-profile></app-profile>
<div class="overlay" *ngIf="isShow">
    <form class="form" [formGroup]="eduForm">

        <label class="form__title">{{isAdd ? 'Add' : 'Edit'}} education</label>
        <mat-icon routerLink="/profile"
         class="form__icons text--info">clear</mat-icon>
        <hr class="horizontal__form">

        <div class="form__field" appearance="fill">
            <label class="form_label">School <span class="form_req">*</span></label>
            <input formControlName="schoolName" matInput placeholder="Ex: Boston University" class="form__input">
            <mat-error *ngIf="schoolName.touched && schoolName.invalid && isAdd">
                <mat-error *ngIf="schoolName.errors.required">Please enter a school name</mat-error>
                <mat-error *ngIf="schoolName.errors.minlength">School name must be minimum {{ schoolName.errors.minlength.requiredLength }} characters</mat-error>
            </mat-error>
        </div>

        <div class="form__field">
            <label class="form__label">Degree</label>
            <input formControlName="degree" matInput placeholder="Ex: Bachelor's" class="form__input">
        </div>

        <div class="form__field">
            <label class="form__label">Field of study</label>
            <input formControlName="fieldOfStudy" matInput placeholder="Ex: Business" class="form__input">
        </div>

        <div class="form__field--inline">
            <div class="form__field--w">
                <label>Start Year</label>
                <select formControlName="startYear" matNativeControl required class="form__select">
                    <option value="Year">Year</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="form__field--w">
                <label>End Year (or expected)</label>
                <select formControlName="endYear" matNativeControl required class="form__select">
                    <option value="Year">Year</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
            </div>
        </div>

        <div class="form__field">
            <label class="form__label">Grade</label>
            <input formControlName="grade" matInput class="form__input">
        </div>

        <div class="form__field">
            <label class="form__label">Activities and societies</label>
            <textarea formControlName="activity" class="form__textarea"></textarea>
            <mat-hint class="form__hint--italic">Ex: Alpha Phi Omega, Marching Band, Volleyball</mat-hint>
        </div>

        <div class="form__field">
            <label class="form__label">Description</label>
            <textarea formControlName="description" class="form__textarea"></textarea>
        </div>

        <div class="form__field">
            <label class="form__label text--info">Media<br>Add or link to external documents, photos, sites, videos, and presentations.</label>
            <button mat-raised-button class="btn btn--primary btn--w">Upload</button>
            <button mat-stroked-button class="btn btn-text--primary text--normal btn--w">Link</button>
            <a href="#" class="link text--xs">Supported formats</a>
        </div>

        <mat-card class="card_content card--sub card--light card--flex form_card">
            <mat-slide-toggle></mat-slide-toggle>
            
            <mat-card-content>
                <mat-card-title class="card__title text--sm">Share with network</mat-card-title>
                <mat-card-subtitle class="card__subtitle text--sm">
                    If enabled, your network may be informed of job changes, education changes, and work anniversaries. This may take up to 48 hours.
                    <a href="#" class="link">Learn what's shared</a>
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card>

        <button mat-stroked-button class="btn btn--info btn__text--info" *ngIf="!isAdd" (click)="onDelete()" routerLink="/profile">Delete</button>
        <button mat-raised-button class="btn btn--primary btn--right" (click)="submit()">{{isAdd ? 'Add' : 'Save'}}</button>
    </form>
</div>