
    <div  id="myModal" class="modal" *ngIf="open">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="font-weight-normal">Send Message</h4>
              <span (click)="closeMessage()" class="close">&times;</span>
            </div>
          <div class="modal-body">
             
                <i class="avatarIcon fas fa-user"></i>
              <div>

                  <p class="userName font-weight-normal"></p>
                  <div class="dropdown dropdown--right">
                    <button mat-raised-button [matMenuTriggerFor]="menu" class=""><mat-icon>drafts</mat-icon>   To {{Reciever.userName}}  <i class="dropdown fas fa-caret-down"></i></button>
                    <mat-menu #menu="matMenu">
                        <button  mat-menu-item>	<mat-icon>alternate_email</mat-icon>{{Reciever.email}}</button>
                    </mat-menu>
                </div>
                </div>
              </div>
              <textarea #text cols="40" rows="5" class="post" placeholder="Type Your Message Here ... " ></textarea>
            
          <div class="hashtag" >
        
          <button  class="btn btn-primary postbtn" (click)="sendMessageToUser(text.value)">Send</button>
          <button  class="btn btn-border postbtn" (click)="closeMessage()">Discard</button>

          </div>
        </div>
      
      </div>

<!-- 
   <ng-template #template>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
   </ng-template> -->