<app-profile></app-profile>
<div class="overlay" *ngIf="isShow">
    <form class="form form--sm" [formGroup]="">
        <label class="form__title">Add Skills</label>
        <mat-icon class="form__icons text--info" routerLink="/profile">clear</mat-icon>
        <hr class="horizontal__form">

        <div class="form__field" appearance="fill">
            <input matInput placeholder="Skills (ex: Data Analysis)" class="form__input"
                [matChipInputFor]="chipList"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
            >
            <mat-hint class="form__hint">You can add 28 more skills</mat-hint>
        </div>

        <mat-form-field class="example-chip-list form__field">
            <mat-chip-list #chipList aria-label="Fruit selection">
            
                <mat-chip *ngFor="let skill of skills" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(skill)">
                    {{skill.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-form-field>
    </form>
    
    <mat-card class="card__content skills__footer skills__footer--rel">
        <button mat-button class="btn btn--default text--default">Adjust endorsement settings</button>
        <button mat-raised-button class="btn btn--primary btn--right" routerLink="/profile">Save</button>
    </mat-card>
</div>