<mat-card class="card card--pad">
    <ng-content select=".coverProfile"></ng-content>
</mat-card>

<mat-card class="card card-border">
    <mat-card-title class="card__title--lg">Strengthen your profile</mat-card-title>
    <mat-card class="card--sub card-mr1">  
        <ng-content select=".subCard1"></ng-content>
    </mat-card>

    <button mat-button class="card__btn">Not now</button>
    <button mat-raised-button class="btn btn--primary">Add past position</button>
</mat-card>

<mat-card class="card">
    <mat-card-title class="card__title--lg">Featured</mat-card-title>
    <mat-card class="card--sub card-mr1">  
        <ng-content select=".subCard2"></ng-content>
    </mat-card>
</mat-card>