<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="card " style="width: 18rem;">
        <div class="card__cover">

            <img src="../../assets/profile/background.svg" class="card-img-top card__img-background" alt="...">
            <div class="card__img-parent">
                <div class="card__img card__img--radius">
                    <img mat-card-avatar src="../../assets/profile/photo.png" class="card__img-profile">
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div class="card-center">

                <h5 class="card-title">Welcome UserName</h5>
                <a href="#" class="addPhoto card-link">Add Photo</a>
            </div>
            <li class="card-small-font list-group-item">
                <div>

                    <p class="Connections card-small-font--gray">Connections</p>
                    <p>Grow your Network</p>
                </div>
                <i class="fas fa-user-plus"></i>

            </li>
            <ul class="card-small-font list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-small-font--gray">Access exclusive tools$insights</p>
                    <p>Try Premium Free For 1 Month</p>

                </li>
                <li class="savedItems list-group-item">Saved Items</li>
            </ul>
        </div>


    </div>

</body>

</html>