<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="line"> </div>
        <div class="container">
        <p class="word">About</p>
        <p class="word"> Help Center </p>
        <p class="word">Privacy&Terms<i class="dropdown fas fa-caret-down"></i></p>
        <p class="word">Advertising </p>
        <p class="word">Business Services<i class="dropdown fas fa-caret-down"></i></p>
        <p class="word">Get the LinkedIn app</p>
        <p class="word">More</p>
    </div>
    <div class="linkedin">
        <h5 class="linked">Linked</h5>
        <i class="in fab fa-linkedin"></i>
        <p class="Corporation"> LinkedIn Corporation © 2020</p>
    </div>
    </body>
</html>
