@import '../../../../sass/variables';

.card {
    margin-bottom: 40px;
    
    &--pad {
        padding: 0 0 20px;

        &-non {
            padding: 0;
        }
    }

    &--mrg {
        &-none {
            margin-bottom: 0;
        }
    }
    
    &__cover {
        position: relative;
    }

    &__img {
        background-color: #f2f2f2eb;
        width: 150px;
        height: 150px;
        position: relative;

        &-background {
            width: 100%;
        }

        &-parent {
            position: absolute;
            bottom: -40px;
            left: 3%;
        }

        &--radius {
            border-radius: 50%;
        }

        &-profile {
            position: absolute;
            top: 35%;
            left: 30%;
            width: 60px;
            height: 60px;
        }

        
        &-logo {
            width: 35px;
            height: 30px;
            margin: 3px 10px;
        }
    }

    
    &__features {
        padding-bottom: 30px;
        &-img {
            width: 40%;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

    &__title {
        font-size: 24px;

        &--lg {
            font-size: $font-lg;
        }

        &--pad {
            padding: 16px 0;
        }
    }

    &__subtitle {
        color: $info;
        font-size: $font-md;
        line-height: 1.4;
        padding-top: 10px;
    }
    
    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__btn {
        margin-right: 15px;
        color: $info;
    }

    &__details {
        margin-left: 40px;

        &-img {
            padding-top: 15px;
        }
    }

    &__accom {
        margin-bottom: 15px;
        &-len {
            display: inline-block;
            position: relative;
            top: 15px;
            margin: 0 20px;
            font-size: 32px;
            color: $dark-primary;
        }

        &-item {
            position: relative;
            line-height: 1.5;

            &:not(:first-child)::before {
                content: '•';
                position: absolute;
                left: -10px;
                top: -2px;
            }
        }
    }

    &__icons {
        position: absolute;
        top: 15px;
        right: 0;
        
        &-feat {
            display: block;
            border-radius: 50%;
            min-width: 40px;
            padding: 0 0 3px;
            margin: 0 15px 10px 10px;
            &:hover {
                background-color: #93d8fc52;
            }
        }

        &--inline {
            display: inline-block;
        }
    }

    &-info {
        width: 60%;
    }

    &-edu {
        width: 25%;
        margin-right: 5%;
        line-height: 1.8;
    }

    &-job {
        
        &__title {
            margin: 15px;
        }
    }
    
    &--flex {
        justify-content: flex-start;
    }

    &--sub {
        padding-bottom: 0;
        border: 1px solid #DADDDF;
    }

    &--light {
        background-color: $light;
    }

    &-mr0 {
        margin: 20px 15px 0px;
    }

    &-mr1 {
        margin-bottom: 15px;
    }

    &-border {
        border-top: 5px solid $primary;
    }
}

.list {
    &--inline {
        display: inline;
        margin-right: 30px;

        &.list__item {
            &:not(:first-child)::before {
                content: '.';
                position: absolute;
                left: -15px;
                bottom: 3px;
                font-size: 20px;
            }
        }
    }

    &__item {
        color: $info;
        font-size: $font-normal;
        position: relative;

        &--underline {
            &:not(:last-child) {
                border-bottom: 1px solid #ddd;
            }
            padding-bottom: 15px !important;
        }
    }

    &__link {
        text-decoration: none;
        color: $primary;
    }
}

.text {
    text-align: justify;
    
    &--sm {
        font-size: $font-sm;
        margin-bottom: 10px;
        padding: 0;
    }

    &--normal {
        font-size: $font-normal;
    }

    &--dark {
        color: $dark;
    }

    &--light {
        color: $light;
    }

    &--primary {
        color: $primary;
    }

    &--info {
        color: $info;
    }
}