<div class="groundcontainer"> 

    <h1>
        Make the most of your professional life
    </h1>

    <div class="main-div">
        
            <form class="form" [formGroup]="userData">
                <mat-form-field class="example-full-width">
                  <mat-label id="label">Email</mat-label>
                  <input formControlName="email" #email matInput placeholder="Enter your Email" >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label  id="label">Password (6 or more characters)</mat-label>
                    <input  formControlName="pass" #pass  matInput placeholder="Enter Your Password">
                  </mat-form-field>
                  <span>
                    By clicking Agree & Join, you agree to the LinkedIn
                     <a target="_blank" href="linkedin.com/legal/user-agreement?trk=registration-frontend_join-form-user-agreement"> User Agreement </a>,
                      <a target="_blank" href="linkedin.com/legal/user-agreement?trk=registration-frontend_join-form-user-agreement"> Privacy Policy </a>, 
                      and 
                      <a target="_blank" href="linkedin.com/legal/user-agreement?trk=registration-frontend_join-form-user-agreement"> Cookie Policy </a>.
                  </span>
                  <button mat-button  routerLink="/signin" (click)="validateData(email , pass)">Agree & Join </button>
                  <p>
                    Already on LinkedIn? 
                    <a target="_blank" >Sign in</a>
                  </p>
              </form>
            
        
        
</div>
</div>