<app-home></app-home>
    <div  id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="font-weight-normal">Create a post</h4>
              
              <span routerLink="/home" class="close">&times;</span>
            </div>
          <div class="modal-body">
              <!-- <div class="avatarDiv" >

                  <img class="avatar" src="../../../assets/avatar3.png" alt="" >
                </div> -->
                <i class="avatarIcon fas fa-user"></i>
              <div>

                  <p class="userName font-weight-normal">{{this.us.currentUser.userName}}</p>
                  <div class="dropdown dropdown--right">
                    <button mat-raised-button [matMenuTriggerFor]="menu" class=""><i class="earth fas fa-globe-americas"></i>Anyone  <i class="dropdown fas fa-caret-down"></i></button>
                    <mat-menu #menu="matMenu">
                        <button (click)="onPrivacyClick(p)" *ngFor="let p of privacy" mat-menu-item>{{p}}</button>
                  

                    </mat-menu>
                </div>
                </div>
                
                
              </div>
              <textarea #text cols="40" rows="5" class="post" placeholder="What do you want to talk about?" ></textarea>
              <div class="hashtag">

            <a href="#" class="card-link">Add hashtag</a>
            <p class="help">Help the right people see your post </p>

              </div>
          <div class="hashtag" >
            <i class="icon fas fa-plus"></i>
            <input accept='image/*' #fileInput (change)="onFileChanged($event)" type="file"multiple style="display: none"><i (click)="fileInput.click()" class="icon camera fa fa-camera"></i>
            
            <i class="icon video fas fa-video"></i>
            <i class="icon file far fa-file-alt"></i>
          <button (click)="post(text)" routerLink="/home" class="btn btn-primary postbtn">Post</button>
          </div>
        </div>
      
      </div>