<div class="card" style="width: 30rem;">
       <div class="card-img">
        <img src="../../../assets/download.png" class="card-img-logo" alt="logo company"/>
         <div class="card-head">
           
            <p >JTI (Japan Tobacco International)</p>
            <p class=" card-small-font--gray">321,172 followers</p>
            <p class=" card-small-font--gray">Promoted</p>
        </div>
         <app-option-dropdown></app-option-dropdown> 
        
        </div>
        <div >
            <p class="card-text--top"> Looking to make a positive difference? Take part in our internship challenge
                and compete to win a 6-month paid global internship at JTI, Japan Tobacco
                International.
            </p>
        </div>
        <img src="../../../assets/JTI.jpg" class="card-img-top" alt="...">
        <div class="card-footer">
            <p >Join JTI's flobal internship challenge</p>
            <div class="card-footer-button">
            <button type="button" class="btn btn-outline-primary">Learn more</button>
            </div>
        </div>
         <div class="comment-reactions--top">
        <p><i class="far fa-thumbs-up"></i> . 153 Likes | <i class="far fa-comment-alt"></i> . 31 Replies</p>

         </div>
         
        <div class="allicons" >
            
      <div class="icons" *ngIf="(ishover || ishoverReact)"  (mouseleave)="onleaveReact()">
            <img src="../../../assets/Reactions/like .jpeg" class="icons-react" />
            <img src="../../../assets/Reactions/celebrate.jpeg" class="icons-react" />
            <img src="../../../assets/Reactions/heart.jpeg" class="icons-react" />
            <img src="../../../assets/Reactions/inspire.jpeg" class="icons-react" />
            <img src="../../../assets/Reactions/curious.jpeg" class="icons-react" />
        </div>
                <button type="button" class="likebtn btn btn-light" (mouseenter)="onhover()"  (mouseleave)="onleave()" >
                        <i class="like far fa-thumbs-up"></i> Like</button>
                <button type="button" class="btn btn-light" (click)="togglecomment()">
                        <i class="far fa-comment-alt"></i> Comment</button>
                <button type="button" class="btn btn-light">
                        <i class="fas fa-share"></i>Share</button>
        </div>
        <app-comment [comment]="oncomment"></app-comment>
      </div>

  