<div class="card card__post" *ngFor="let post of wholePosts; let i = index">
       <div class="card-img">
        <img src="../../../assets/download.png" class="card-img-logo" alt="logo company"/>
         <div class="card-head">
           
            <p >{{userService.getById(post.userId).userName}}</p>
            <p class=" card-small-font--gray">{{userService.getById(post.userId).workExp.title}}</p>
        </div>
         <app-option-dropdown></app-option-dropdown> 
        
        </div>
        <div >
            <p class="card-text--top"> {{post?.body}}
            </p>
        </div>
        <div *ngIf="post?.imageUrls.length > 0">
            <img src={{post?.imageUrls[0]}} class="card-img-top" alt="...">
            <div class="card-footer">
                <p >Join JTI's flobal internship challenge</p>
                <div class="card-footer-button">
                <button type="button" class="btn btn-outline-primary">Learn more</button>
                </div>
            </div>
        </div>
         <div class="comment-reactions--top">
            <p *ngIf="post?.likes > 0">
                <span>
                    <i class="far fa-thumbs-up"></i> . {{post?.likes}} Likes
                </span>
                <span *ngIf="post?.replies > 0">
                    <i class="far fa-comment-alt"></i> | . {{post?.replies}} Replies
                </span>
            </p>
         </div>
         
        <div class="allicons" >
            
      <div class="icons" *ngIf="(post.onHover || post.onHoverReact)"  (mouseleave)="onleaveReact(post)">
            <img (click)="addLike(post,'like')" (click)="onReactionClick(post)" src="../../../assets/Reactions/like .jpeg" class="icons-react" />
            <img (click)="addLike(post,'celebrate')" (click)="onReactionClick(post)" src="../../../assets/Reactions/celebrate.jpeg" class="icons-react" />
            <img (click)="addLike(post,'heart')" (click)="onReactionClick(post)" src="../../../assets/Reactions/heart.jpeg" class="icons-react" />
            <img (click)="addLike(post,'inspire')" (click)="onReactionClick(post)" src="../../../assets/Reactions/inspire.jpeg" class="icons-react" />
            <img (click)="addLike(post,'curious')" (click)="onReactionClick(post)" src="../../../assets/Reactions/curious.jpeg" class="icons-react" />
        </div>
        <button (click)="addLike(post,'like')" type="button" class="likebtn btn btn-light"  (mouseenter)="onhover(post)"  (mouseleave)="onleave(post)" >
            <img *ngIf="post.liked=='celebrate'" src="../../../assets/Reactions/celebrate.jpeg" class="icons-react" />  
            <img *ngIf="post.liked=='heart'" src="../../../assets/Reactions/heart.jpeg" class="icons-react" />
            <img *ngIf="post.liked=='inspire'" src="../../../assets/Reactions/inspire.jpeg" class="icons-react" />
            <img *ngIf="post.liked=='curious'" src="../../../assets/Reactions/curious.jpeg" class="icons-react" />
            <i *ngIf="post.liked=='like'" class="like far fa-thumbs-up "[ngClass]="{'active':post.liked=='like'}"></i> 
            <i *ngIf="post.liked==''" class="like far fa-thumbs-up "></i> 
                
            {{post.liked==''?'like':post.liked}}</button>
        <button type="button" class="btn btn-light" (click)="togglecomment(post)">
                <i class="far fa-comment-alt"></i> Comment</button>
        <button type="button" class="btn btn-light">
                <i class="fas fa-share"></i>Share</button>
        </div>

        <app-comment *ngIf="post.onComment" [currentPost]="post"></app-comment>
</div>

  