<div class="container align ">
  <app-network-side-nav></app-network-side-nav>

  <div class="colflex col-10">
    <ng-container>
      <mat-card class="new-connections">
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
        <app-network-card></app-network-card>
      </mat-card>
    </ng-container>
  </div>
</div>
