<div class="friend" (click)="onChooseProfile()">
  <mat-list-item class="list__item text--dark list__item--underline"
    ><mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="content">
        <mat-card-title>{{ user.userName }}</mat-card-title>
        <small *ngFor="let title of user.userInfo.jobOpps.title"> . {{  title }}</small>
        <small *ngFor="let loc of user.userInfo.jobOpps.jobLocation"> . {{  loc }}</small>

      </div>
    </mat-card-header></mat-list-item
  >
</div>
