<mat-card class="card">
    <div class="card__cover">
        <img mat-card-cover-image src="../../assets/profile/background.svg" class="card__img-background">

        <div class="card__img-parent">
            <div class="card__img card__img--radius">
                <img mat-card-avatar src="../../assets/profile/photo.png" class="card__img-profile">
            </div>
        </div>
    </div>

    <mat-card-content class="card__content">
        <app-dropdown></app-dropdown>
        <mat-card-title>Profile Name</mat-card-title>
        <mat-card-subtitle>Web and User Interface student at Information Technology Institute (ITI)</mat-card-subtitle>
    </mat-card-content>
</mat-card>
