<mat-accordion class="accordion-container">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Info
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-feature-item>
      <ng-container class="icon">
        <mat-icon>person_outline</mat-icon>
      </ng-container>
      <ng-container class="content">
        <h2>Profile Photo</h2>
        <p class=" text--info">
          People are more likely to visit profiles with a photo. Add a photo to
          get up to 21x more profile views
        </p>
      </ng-container>
    </app-feature-item>
    <hr class="horizontal" />
    <app-feature-item>
      <ng-container class="icon">
        <mat-icon>alternate_email</mat-icon>
      </ng-container>
      <ng-container class="content">
        <h2>Looking for job opportunities</h2>
        <p class=" text--info">
          Show recruiters and others you’re open to job opportunities.
        </p>
      </ng-container>
    </app-feature-item>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        About
      </mat-panel-title>
    </mat-expansion-panel-header>

   
    
    <app-feature-item>
      <ng-container class="icon">
        <mat-icon>subject</mat-icon>
      </ng-container>
      <ng-container class="content">
        <h2 class="text">Summary</h2>
        <p class=" text--info">
          Use summary to share what you do or the opportunities you’re looking
          for
        </p>
      </ng-container>
    </app-feature-item>
  </mat-expansion-panel>

  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
     Featured
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-feature-item>
    <ng-container class="icon">
        <mat-icon> insert_drive_file</mat-icon>
    </ng-container>
    <ng-container class="content">
      <h2>Posts</h2>
      <p class=" text--info">
        Show content posted to LinkedIn
      </p>
    </ng-container>
  </app-feature-item>
  <hr class="horizontal" />

  <app-feature-item>
    <ng-container class="icon">
        <mat-icon>link</mat-icon>

    </ng-container>
    <ng-container class="content">
      <h2 class="text">Links</h2>
      <p class=" text--info">
        Show links to web content
      </p>
    </ng-container>
  </app-feature-item>
  <hr class="horizontal" />

  <app-feature-item>
    <ng-container class="icon">
        <mat-icon>perm_media</mat-icon>
    </ng-container>
    <ng-container class="content">
      <h2 class="text">Media</h2>
      <p class=" text--info">
        Upload photos, documents, and presentations
      </p>
    </ng-container>
  </app-feature-item>
</mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Background
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-feature-item>
      <ng-container class="icon">
        <mat-icon>work_outline</mat-icon>
      </ng-container>
      <ng-container class="content">
        <h2>Work experience</h2>
        <p class=" text--info">
          List your work history including any contracts or internships
        </p>
      </ng-container>
    </app-feature-item>

    <hr class="horizontal" />

    <app-feature-item>
      <ng-container class="icon">
        <mat-icon>location_city</mat-icon>
      </ng-container>
      <ng-container class="content">
        <h2>Education</h2>
        <p class=" text--info">
          Get 11x more profile views by adding your school
        </p>
      </ng-container>
    </app-feature-item>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skills
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-feature-item>
      <ng-container class="icon">
        <mat-icon>shutter_speed</mat-icon>
      </ng-container>
      <ng-container class="content">
        <h2 class="text">Skills</h2>
        <p class=" text--info">Showcase your strengths as a professional</p>
      </ng-container>
    </app-feature-item>
</mat-expansion-panel>


<mat-expansion-panel
(opened)="panelOpenState = true"
(closed)="panelOpenState = false"
>
<mat-expansion-panel-header>
  <mat-panel-title>
    Accomplishments
  </mat-panel-title>
</mat-expansion-panel-header>

<app-feature-item>
  <ng-container class="icon">
    <mat-icon>school</mat-icon>
  </ng-container>
  <ng-container class="content">
    <h2>Projects</h2>
    <p class=" text--info">
        Add compelling projects to demonstrate your experience
    </p>
  </ng-container>
</app-feature-item>

<hr class="horizontal" />

<app-feature-item>
  <ng-container class="icon">
    <mat-icon>receipt</mat-icon>
  </ng-container>
  <ng-container class="content">
    <h2>Courses</h2>
    <p class=" text--info">
        List coursework from your prior or continuing education
    </p>
  </ng-container>
</app-feature-item>
</mat-expansion-panel>

    
</mat-accordion>
