<!-- <app-regestration></app-regestration> -->
<!-- <app-signin></app-signin> -->

<!-- <app-navbar></app-navbar> -->

<!-- <app-home></app-home> -->
<!-- <app-regestration></app-regestration> -->
<!-- <app-network></app-network> -->
<!-- <app-signin></app-signin> -->
<!-- <app-profile></app-profile> -->
<router-outlet></router-outlet>
<!-- <app-regestration></app-regestration> -->

<app-footer></app-footer>
<!-- <app-education-form [isShow]></app-education-form> -->
<!-- <app-experience-form [isShow]></app-experience-form> -->
<!-- <app-skills-form [isShow]></app-skills-form> -->
<!-- <app-add-skills-form [isShow]></app-add-skills-form> -->
<!-- <app-opportunities [isShow]></app-opportunities> -->


