<app-profile></app-profile>
<div class="overlay" *ngIf="isShow">
    <form class="form" [formGroup]="myForm">
        <!-- <ng-container class="header"> -->
            <ng-container>
            <label class="form__title">{{formtitle}}</label>
            </ng-container>

        <!-- </ng-container> -->
        <mat-icon routerLink="/profile"
        class="form__icons text--info">clear</mat-icon>
        <hr class="horizontal__form">

        <!-- <ng-container class="body"> -->
            <div class="form__field" appearance="fill">
                <label class="form__label">Title <span class="form__req">*</span></label>
                <input formControlName="title" matInput placeholder="Ex: Retail Sales Manager" class="form__input">
                <mat-error *ngIf="title.touched && title.invalid">
                    <mat-error *ngIf="title.errors.required">Please enter your title</mat-error>
                    <mat-error *ngIf="title.errors.minlength">Title must be minimum {{ title.errors.minlength.requiredLength }} characters</mat-error>
                </mat-error>
            </div>

            <div class="form__field">
                <label class="form__label">Employment type</label>
                <select formControlName="employmentType" matNativeControl  class="form__select form__select--full">
                    <option value="-">-</option>
                    <option [value]="i" *ngFor="let type of employmentTypes ; let index = i">{{type}}</option>
                    
                </select>
            </div>

            <div class="form__field">
                <label class="form__label">Company <span class="form__req">*</span></label>
                <input matInput formControlName="companyName" placeholder="Ex: Microsoft" class="form__input">
                <mat-error *ngIf="companyName.touched && companyName.invalid">
                    <mat-error *ngIf="companyName.errors.required">Please enter your companyName</mat-error>
                    <mat-error *ngIf="companyName.errors.minlength">companyName must be minimum {{ companyName.errors.minlength.requiredLength }} characters</mat-error>
                </mat-error>
            </div>

            <div class="form__field">
                <label class="form__label">Location</label>
                <input matInput formControlName="location" placeholder="Ex: London, United Kingdom" class="form__input">
                <mat-error *ngIf="location.touched && location.invalid">
                    <mat-error *ngIf="location.errors.required">Please enter your company location</mat-error>
                </mat-error>
            </div>

            <mat-checkbox class="form__checkbox"  (click)="onCheckboxClicked($event)">I am currently working in this role</mat-checkbox>

            <div class="form__field--inline">
                <div class="form__field--w">
                    <label>Start Date <span class="form__req">*</span></label>
                    <select formControlName="startDate" matNativeControl  class="form__select form__select--sm">
                        <option value="1">Month</option>
                        <option *ngFor="let mon of months ; let i = index" [value]="mon">{{mon}}</option>
                        
                    </select>
                </div>
                <div class="form__field--w">
                    <label></label>
                    <select matNativeControl  formControlName="startYear" class="form__select form__select--nolbl form__select--sm">
                        <option value="Year">Year</option>
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                        
                    </select>
                </div>
                <div class="form__field--w" >
                    <label>End Date <span class="form__req">*</span></label>
                    <select matNativeControl formControlName="endDate"  class="form__select form__select--sm" *ngIf="!isChecked">
                    
                        <option value="1">Month</option>
                        <option *ngFor="let mon of months ; let i = index" [value]="mon">{{mon }}</option>
                    </select>
                    <p *ngIf="isChecked">Present</p>
                </div>
                <div class="form__field--w" *ngIf="!isChecked">
                    <label></label>
                    <select formControlName="endYear" matNativeControl  class="form__select form__select--nolbl form__select--sm">
                        <option value="Year">Year</option>
                        <option *ngFor="let year of years" [value]="year+5">{{year+5}}</option>

                    </select>
                </div>
            </div>

            <div class="form__field" *ngIf="isChecked">
                <label class="form__label">Headline <span class="form__req">*</span></label>
                <textarea formControlName="headline" class="form__textarea form__textarea--sm"></textarea>
                <mat-error *ngIf="headline.touched && headline.invalid">
                    <mat-error *ngIf="headline.errors.required">Please enter your headline</mat-error>
                    <mat-error *ngIf="headline.errors.minlength">headline must be minimum {{ headline.errors.minlength.requiredLength }} characters</mat-error>
                </mat-error>
            </div>

            <div class="form__field">
                <label class="form__label">Description</label>
                <textarea formControlName="description" class="form__textarea"></textarea>
                <mat-error *ngIf="description.touched && description.invalid">
                    <mat-error *ngIf="description.errors.required">Please enter Description</mat-error>
                </mat-error>
            </div>

            <div class="form__field">
                <label class="form__label text--info">Media<br>Add or link to external documents, photos, sites, videos, and presentations.</label>
                <button mat-raised-button class="btn btn--primary btn--w" type="file">Upload</button>
                <button mat-stroked-button class="btn btn-text--primary text--normal btn--w">Link</button>
                <a href="#" class="link text--xs">Supported formats</a>
            </div>

            <mat-card class="card__content card--sub card--light card--flex form__card">
                <mat-slide-toggle></mat-slide-toggle>
                
                <mat-card-content>
                    <mat-card-title class="card__title text--sm">Share with network</mat-card-title>
                    <mat-card-subtitle class="card__subtitle text--sm">
                        If enabled, your network may be informed of job changes, education changes, and work anniversaries. This may take up to 48 hours.
                        <a href="#" class="link">Learn what's shared</a>
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>

            <button  mat-raised-button class="btn btn--primary btn--right" (click)="handleSubmit()">{{formBtn}}</button>
        <!-- </ng-container> -->
    </form>
</div>