<div > 
    <div class="headerContainer">
      <img src="../../../assets/Registration/signInlogo.PNG">
    <h1> Welcome Back</h1>
    <p class="text--sm">Don't miss your next opportunity. Sign in to stay updated on your professional world.</p>
    </div>
    <div class="main-div">
        
            <form class="form" [formGroup]="signInData">
                <mat-form-field class="example-full-width">
                  <mat-label id="label">Email</mat-label>
                  <input formControlName="email" #email matInput placeholder="Enter your Email" >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label  id="label">Password (6 or more characters)</mat-label>
                    <input  formControlName="pass" #pass  matInput placeholder="Enter Your Password">
                    
                  </mat-form-field>
                  
                  <button mat-button routerLink="/home" >Sign In</button>
                  <p>
                    <a target="_blank" href="#">Forgot Password ? </a>
                  </p>
                  <p>
                    New to LinkedIn ?
                    <a target="_blank" href="#">Join Now </a>
                  </p>
              </form>
            
        
        
</div>
</div>