.card {
    margin-top: 30px;
    padding: 0;
    
    &__cover {
        position: relative;
    }

    &__img {
        background-color: #f2f2f2eb;
        width: 150px;
        height: 150px;
        position: relative;

        &-background {
            width: 100%;
        }

        &-parent {
            position: absolute;
            bottom: -40px;
            left: 3%;
        }

        &--radius {
            border-radius: 50%;
        }

        &-profile {
            position: absolute;
            top: 35%;
            left: 30%;
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        padding: 20px 15px;
    }
}