<app-navbar></app-navbar>

<div class="container">

<app-profile-cards>
      <ng-container class="coverProfile">
        <div class="card__cover">
          <img
            mat-card-cover-image
            src="../../assets/profile/background.svg"
            class="card__img-background"
          />
    
          <div class="card__img-parent">
            <div class="card__img card__img--radius">
              <img
                mat-card-avatar
                src="../../assets/profile/photo.png"
                class="card__img-profile"
                
              />
            </div>
          </div>
        </div>
    
        <app-dropdown></app-dropdown>
        <mat-card-content class="card__content card-mr0">
          <div class="card-info">
            <mat-card-title class="card__title">{{currentUser.userName}}</mat-card-title>
            <mat-card-subtitle class="card__subtitle"
              >{{currentUser.workExp[0].Headline}}</mat-card-subtitle
            >
            <ul class="card__list ">
              <li class="list__item list--inline">Egypt</li>
              <li class="list__item list--inline list--bold">
                <a href="#" class="list__link">500+ connections</a>
              </li>
              <li class="list__item list--inline list--bold">
                <a href="#" class="list__link">Contact info</a>
              </li>
            </ul>
          </div>
          <mat-card-title-group class="card-edu">
            <img
              mat-card-sm-image
              src="../../assets/profile/iti.png"
              class="card__img-logo"
            />
            <a href="#" class="card__subtitle text--sm link link--default"
              >{{currentUser.workExp[0].companyName}}</a
            >
          </mat-card-title-group>
        </mat-card-content>
    
        <mat-card class="card__content card--sub card--light card-mr0">
          <mat-card-content>
              <mat-card-title class="card__title text--sm">Open to job opportunities</mat-card-title>
              <mat-card-content class="card__icons">
                <button mat-button class="btn text--info card__icons-feat">
                    <mat-icon routerLink="/opportunities/add"
                     class="text--primary">create</mat-icon>
                </button>            
              </mat-card-content>
            <mat-card-title-group>
              <mat-card-subtitle class="card__subtitle text--sm">
                <span  *ngFor="let job of currentUser.userInfo.jobOpps;let index=i"  >
                  {{job.title}} -

                </span>
                </mat-card-subtitle
              >
             
              <mat-card-subtitle class="text--sm"
                ><a href="#" class="link">See all details</a></mat-card-subtitle
              >
            </mat-card-title-group>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container class="subCard1">
        <mat-card-content class="card__content card--flex">
          <img mat-card-sm-image src="../../assets/profile/job.svg" />
          <mat-card-title-group class="card-job__title">
            <mat-card-title class="card__title text--dark text--sm"
              >Dummy, help hiring managers and old coworkers find
              you</mat-card-title
            >
            <mat-card-subtitle class="card__subtitle text--sm"
              >Add a past position so others can easily find and connect with
              you</mat-card-subtitle
            >
          </mat-card-title-group>
        </mat-card-content>
      </ng-container>
    
      <ng-container class="subCard2">
        <mat-card-content class="card__content card__features">
          <img
            mat-card-lg-image
            src="../../assets/profile/featured.png"
            class="card__features-img"
          />
          <mat-card-title-group class="card-info">
            <mat-card-subtitle class="card__subtitle card--dark text--sm text--dark"
              >Google Account</mat-card-subtitle
            >
            <mat-card-subtitle class="card__subtitle text--sm"
              >myaccount.google.com</mat-card-subtitle
            >
            <mat-card-subtitle
              class="card__subtitle text--normal card__features-subtitle"
              >Your Google Account gives you quick access to features, settings and
              tools that let you safeguard your data, protect your privacy, and
              decide how your information can make Google services work better for
              you.
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-content>
      </ng-container>
    

     

        <ng-container class="experience" *ngFor="let exp of workExps ; let i=index ">
        
          <img
            mat-card-sm-image
            src="../../assets/profile/iti.png"
            class="card__details-img"
          />
          <mat-card-title-group class="card__details" >
            <mat-card-subtitle
              class="card__subtit le card--dark text--normal text--dark"
              >{{exp.title}}</mat-card-subtitle
            >
            <mat-card-subtitle class="card__subtitle text--sm"
              >{{exp.companyName}}</mat-card-subtitle
            >
            <mat-card-subtitle class="card__subtitle text--sm text--info"
              >{{exp.startDate}} - {{exp.endDate}} . {{calcDateOfWorkExp(i)}}mos</mat-card-subtitle
            >
            <mat-card-subtitle class="card__subtitle text--sm text--info"
              >Cairo Governorate, Egypt</mat-card-subtitle
            >
          </mat-card-title-group>
          <hr class="horizontal">
        </ng-container>
  
      <ng-container class="skills">
        <mat-card-title class="card__title--lg card__title--pad">Skills & Endorsements</mat-card-title
        >
        <mat-card-content class="card__icons">
          <button
            mat-button
            class="btn text--info"
            data-toggle="modal"
            data-target="#exampleModal"
            data-whatever="@mdo"
            routerLink= "/skills/addnew"
          >
            Add a new skill
          </button>
          <button
            mat-button
            class="btn text--info card__icons-feat card__icons--inline"
          >
            <mat-icon routerLink="/skills/add"
             class="text--primary">create</mat-icon>
          </button>
        </mat-card-content>
        <button
          mat-stroked-button
          class="btn btn-text--primary btn-border--primary"
        >
          Take skill quiz
        </button>
        <mat-list role="list">
          <mat-list-item class="list__item text--dark list__item--underline"
            *ngFor="let skill of currentUser.skills ; let i = index"> {{skill.name}}</mat-list-item
          >
          
        </mat-list>
      </ng-container>
    
      <ng-container  class="education" *ngFor="let edu of educationArr">
        <img
          mat-card-sm-image
          src="../../assets/profile/uni.png"
          class="card__details-img"
        />
        <mat-card-title-group class="card__details">

          
          <mat-card-subtitle
          class="card__subtitle card--dark text--normal text--dark">
            {{edu.schoolName}}
          </mat-card-subtitle>

          <button mat-button class="btn text--info card__icons card__icons-feat card__icons--mr">
              <mat-icon routerLink="/education/edit" (click)="getEducation(edu.id)"
              class="text--primary">create</mat-icon>
          </button>

          <mat-card-subtitle class="card__subtitle text--sm"
            >{{edu.degree}}</mat-card-subtitle
          >
          <mat-card-subtitle class="card__subtitle text--sm text--info"
            >{{edu.startYear}} - {{edu.endYear}}</mat-card-subtitle
          >
        </mat-card-title-group>

        <hr class="horizontal">
      </ng-container>
      
  </app-profile-cards>
  
  <img
    src="../assets/profile/eventLinkedin.jpg"
    alt="Event"
    class="eventProfile"
  />  
</div>
