<!-- <div class="row">
  <mat-card class="new-connections col">
    <app-network-card></app-network-card>
    <app-network-card></app-network-card>
    <app-network-card></app-network-card>
  </mat-card>
</div> -->

<div class="container align ">
  <app-network-side-nav></app-network-side-nav>

  <div class="colflex col-10">
    <mat-card class="new-connections">
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
      <app-network-card></app-network-card>
    </mat-card>
  </div>
</div>

<!-- <mat-card-title class="card__title--lg card__title--pad"
  >2 Connections</mat-card-title
>
<div class="input-group flex-nowrap">
  <input type="text" class="form-control" placeholder="Search" />
  <i class="fas fa-search"></i>
</div>
<mat-card>
  <mat-list role="list">
    <mat-list-item class="list__item text--dark list__item--underline"
      ><mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <div class="content">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </div> </mat-card-header
      ><button class="btn btn--center btn-v">Message</button></mat-list-item
    >
    <mat-list-item class="list__item text--dark list__item--underline"
      ><mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <div class="content">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </div> </mat-card-header
      ><button class="btn btn--center btn-v">Message</button></mat-list-item
    >
  </mat-list>
</mat-card> -->
