@import '../../sass/variables';
@import '../cards/home-card/cards.component.scss';

.dropdown {
    display: flex ; 
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1%;

    &--item 
    {
        margin: 5px;
    }

    &--right {
        text-align: right;
    }
    &--btn 
    {
        position: relative;
    }
    &--features
    {
        position: absolute;
        right: 0;
        top : 100%;
        z-index: 1;
    }
    &--borderedbtn
    {
        border: 1px solid #000;
    }
    &--icon 
    {
        color: $primary;
        padding: 11%;
        margin: 15% 30% 0 0;
        cursor: pointer;
    }
}