@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'sass/general.scss'; 
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

@import 'sass/main.scss';

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
body { margin: 0 ; padding:0; font-family: Roboto, "Monospace", sans-serif; height: 100%; }
=======
body { margin: 0; font-family: Roboto, "Monospace", sans-serif; }
>>>>>>> b118ffb48addf64f0c2fa214f6055f686bbc4fe9

