@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'sass/general.scss'; 
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';


@import 'sass/main.scss';

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: Roboto, "Monospace", sans-serif; }

.colflex
{
    display: flex;
    flex-direction: column;
    
}
.top-margin
{
    margin-top: 110px;

}


