.form-control{
    border-radius: 32px;
     width:79%;
    display:inline-block;
    position: relative;
    
}
.fas{
    padding: 7px;
    padding-left: 10px;
    font-size:25px;
    color:grey;
}
.active{
    color: blue;
}
.fa-camera{
    position:absolute;
    left:75%;
    bottom:17px;
    font-size: 18px;
}

.comment{
    padding: 13px;
    display: inline-block;
    background-color: whitesmoke;
    width:80%;
    &-paragraph{
        padding-top: 10px;
        font-weight: bold;
        line-height: 3px;
        font-size: 14px;
        &--small{
            font-size:13px;
        }
    }
    &-reactions{
        margin-left: 50px;
        padding-top:3px;
        font-size:12px;
       
       
    }
}
.borderless{
    border-bottom: none;
    border-top:none;
}
